[submodule "hwangjjung.github.io"]
	path = hwangjjung.github.io
	url = git@github.com:hwangjjung/hwangjjung.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:hwangjjung/hwangjjung.github.io.git
	branch = master
